$media-bp: tablet;

.main-navbar {
	top: 0;
	position: fixed;
	z-index: z-index(offcanvas);
	left: 0;
	width: 100%;
	background: color(navbar-bg);
	font-family: $title-font;
	font-size: 1.1em;
	box-shadow: 0 0 10px 5px color(negro);

	@include from($media-bp) {
		background: linear-gradient(15deg, color(navbar-bg) 50%, color(gris-oscuro) 50%);
		display: flex;
		justify-content: center;
	}

	.navbar-header {
		display: flex;
		justify-content: space-between;

		.logo {
			width: 80px;
			height: 80px;
			padding: $gutter;
			border-radius: 50%;

			@include from($media-bp) {
				box-shadow: 0 3px 10px color(negro);
				padding: 0;
				top: 10px;
				left: 0;
				right: 0;
				margin: auto;
				position: absolute;
			}
		}

		.trigger {
			width: 30px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 1rem;
			cursor: pointer;

			span {
				background: color(blanco);
				height: 3px;
				margin: 2px;
			}

			@include from($media-bp) {
				display: none;
			}
		}
	}

	.menu {
		background: color(gris-oscuro);
		list-style: none;
		padding: 0;
		margin: 0;
		color: white;
		display: none;

		@include from($media-bp) {
			background: transparent;
			display: flex !important;
			justify-content: center;
			align-items: center;
		}

		&-item {
			border-bottom: 1px solid color(blanco, 0.2);

			@include from($media-bp) {
				border: none;
			}
		}

		&-link {
			text-align: center;
			padding: $gutter;
			display: block;
			transition: box-shadow 0.3s;

			&:hover {
				box-shadow: inset 0 -3px color(blanco);
			}
		}

		.hidden {
			display: none;

			@include from($media-bp) {
				width: 160px;
				display: block;
			}
		}
	}
}
