section#section-aplicacion
	h1.section-title Aplicación de IoT en las redes
	section.section-content
		#owl-example.owl-carousel
			div.slide
				h3.slide-title Generación distribuida
				a(href="#modal-generacion-distribuida").slide-image.modal-link
					img(src="resources/images/app-1.jpg")
				section.slide-content
					p Consiste en la generación de energía eléctrica mediante muchas pequeñas fuentes de generación, instaladas cerca del consumo. La generación distribuida es una cooperación entre la micro-generación  y la generación de las centrales convencionales.
						a(href="#section-referencias").ref-ref [1]
					h5.slide-title Caracteristicas
					ul
						li Reduce las pérdidas en la red eléctrica.
						li Mejorar la fiabilidad y la calidad del sistema eléctrico.
						li Potencias reducidas.
						li Energías renovables.
					h5.slide-title Micro-generación
					ul
						li Placas solares fotovoltaicas
						li Aerogeneradores
						li Vehicle to grid (V2G)
			div.slide
				h3.slide-title Redes inteligentes
				a(href="#modal-redes-inteligentes").slide-image.modal-link
					img(src="resources/images/app-2.png")
				section.slide-content
					p Las Smart Grids son básicamente redes de distribución eléctrica combinadas con modernas tecnologías de información, que proporcionan datos tanto a las empresas distribuidoras de electricidad como a los consumidores, lo que es ventajoso para ambas partes. Por lo tanto, la Smart Grid es más compleja en su funcionamiento que la actúal red eléctrica.
						a(href="#section-referencias").ref-ref [2]
					h5.slide-title Ventajas
					ul
						li Aumentan el nivel de fiabilidad y calidad en el suministro de energía eléctrica.
						li Facilitan a los clientes instrumentos que les permiten optimizar su propio consumo eléctrico y mejorar el funcionamiento del sistema global.
						li Contribuyen a mantener la sostenibilidad ambiental.
						li Facilitan el almacenamiento de la electricidad.
						li Mejoran la eficacia en la distribución de los flujos de energía y la flexibilidad en la gestión de los picos de demanda, con la consiguiente disminución de las necesidades de nuevas instalaciones de generación.
			div.slide
				h3.slide-title Medidas inteligentes
				a(href="#modal-medidas-inteligentes").slide-image.modal-link
					img(src="resources/images/app-3.png")
				section.slide-content
					p Tecnología Avanzada para la Medición del Consumo Energético en los Hogares. En la mayoría de los países industrializados los contadores mecánicos de gas, agua y electricidad están siendo totalmente reemplazados por nuevos medidores digitales.
						a(href="#section-referencias").ref-ref [3]
					h5.slide-title Ventajas de la telegestión
					ul
						li Las lectura del consumo se realiza a distancia.
						li La facturación se realiza sobre lecturas reales, evitando así las facturas estimadas.
						li Las operaciones relacionadas con el suministro (alta, baja, modificación de potencia o tarifa, etc.) se realizan de forma remota evitado el desplazamiento del técnico al domicilio.
						li Ejecución de las operaciones remotas en menos de 24 horas en la mayoría de los casos.
						li Mayor rapidez en la detección e identificación de incidencias
						li Mejor información sobre el consumo de energía, lo que favorecerá el ahorro y la eficiencia.
			div.slide
				h3.slide-title Edificios inteligentes
				a(href="#modal-edificios-inteligentes").slide-image.modal-link
					img(src="resources/images/app-4.png")
				section.slide-content
					p Los Smart Buildings o Edificios Inteligentes son aquellos cuyas instalaciones y sistemas (de climatización, iluminación, electricidad, seguridad, telecomunicaciones, multimedia, informáticas, control de acceso, etc.) permiten una gestión y control integrada y automatizada, con el fin de aumentar la eficiencia energética, la seguridad, la usabilidad y la accesibilidad. El concepto de Smart Buildings es aplicable para todas las tipologías de edificios, tanto para su rehabilitación como para la nueva construcción. Uno de los proyectos más destacados que impulsan el desarrollo de edificios autosuficientes es el proyecto Energrid.
						a(href="#section-referencias").ref-ref [4]
					h5.slide-title Caracteristicas
					ul
						li Ser eficiente en el consumo
						li Integración en sus sistemas de control
						li Ser seguros
						li Ser flexibles
						li Ser eficiente en el consumo
						li Ser ergonómico
					h5.slide-title Objetivos
					ol
						li Objetivos arquitectonicos
							ul
								li Satisfacer las necesidades presentes y futuras de los ocupantes, propietarios y operadores del edificio.
								li La flexibilidad, tanto en la estructura como en los sistemas y servicios.
								li La funcionalidad del edificio.
								li Mayor confort para el usuario.
								li El incremento de la seguridad.
						li Objetivos tecnológicos
							ul
								li La disponibilidad de medios técnicos avanzados de telecomunicaciones.
								li La automatización de las instalaciones.
								li La integración de servicios.
						li Objetivos ambientales
							ul
								li La creación de un edificio saludable.
								li El ahorro energético.
								li Integración del edificio con el medio donde está.
						li Objetivos económunicipios
							ul
								li La reducción de los altos costos de operación y mantenimiento.
								li Beneficios económicos para el cliente.
								li Incremento de la vida útil del edificio.
								li La relación costo-beneficio.
			div.slide
				h3.slide-title Sensores inteligentes
				a(href="#modal-sensores-inteligentes").slide-image.modal-link
					img(src="resources/images/app-5.jpg")
				section.slide-content
					p En una ciudad inteligente los sensores inteligentes están repartidos por toda la ciudad y proporcionan la información a las administraciones públicas o directamente al ciudadano a través de Wifi y a tiempo real. Por lo tanto, en una Smart City cualquier ciudadano puede consultar el dato que necesite a través de algún dispositivo electrónico. Así, toda la ciudad puede estar conectada, y sus ciudadanos también.
						a(href="#section-referencias").ref-ref [5]
					h5.slide-title Tipos de Sensores
					ul
						li Sensores de aparcamiento
						li Sensores de tráfico
						li Sensores de humedad
						li Sensores de luz
						li Sensores de paso
						li Sensores meteorológicos y de contaminación
						li Sensores de recogida y tratamiento de residuos urbanos
						li Sensor de control de consumo de agua y electricidad
						li Sensores de la red eléctrica
			div.slide
				h3.slide-title eMobility
				a(href="#modal-emobility").slide-image.modal-link
					img(src="resources/images/app-6.jpg")
				section.slide-content
					p La movilidad eléctrica es una alternativa demostrada y sorprendentemente competitiva para la movilidad diaria en las ciudades y municipios europeos. Beneficios evidentes se obtienen del considerable ahorro de costes y energía, del alto rendimiento y consumo de energia.
						a(href="#section-referencias").ref-ref [6]
					p La eMobility no solo se centra en la movilidad eléctrica, sino que se basa en los tipos de movilidad que puede haber en una ciudad y su objetivo es que esta movilidad sea inteligente. La movilidad inteligente pretende facilitar la movilidad de los usuarios (bien sea a pie, bicicleta, transporte público o privado) ahorrando en costes económicos, ambientales y de tiempo.
					p Para la moviidad en una smart city es importante contar con los siguientes tipos de movilidad que pueden haber:
					ul
						li Movilidad a pie
						li Movilidad en bicicleta
						li Transporte publico
						li Transporte privado
							ul
								li Carsharing
								li Carpooling
			div.slide
				h3.slide-title Tecnologías de la información y la comunicación
				a(target="_blank" href="http://2.bp.blogspot.com/-CoFBnr-I978/VYhTkfvXDeI/AAAAAAAAAC0/HiHWB7V0r7U/s1600/Fotolia_67365850_Subscription_XL.jpg").slide-image
					img(src="resources/images/app-7.jpg")
				section.slide-content
					p Las Tecnologías de la Información y la Comunicación son un conjunto de servicios, redes, software y aparatos que tienen como fin la mejora de la calidad de vida de las personas dentro de un entorno, y que se integran a un sistema de información interconectado y complementario. Esta innovación servirá para romper las barreras que existen entre cada uno de ellos.
						a(href="#section-referencias").ref-ref [7]
					h5.slide-title Caracteristicas y Ventajas
					ul
						li Apps
						li Big data
						li Wi-Fi en toda la ciudad
						li Puestos de control
						li Paneles informativos a tiempo real
			div.slide
				h3.slide-title Ciudades inteligentes
				a(href="#modal-ciudades-inteligentes").slide-image.modal-link
					img(src="resources/images/app-8.jpg")
				section.slide-content
					p Una Smart City, o ciudad inteligente,  se puede describir como aquella ciudad que aplica las tecnologías de la información y de la comunicación (TIC) con el objetivo de proveerla de una infraestructura que garantice:
						ul
						li Un desarrollo sostenible.
						li Un incremento de la calidad de vida de los ciudadanos.
						li Una mayor eficacia de los recursos disponibles.
						li Una participación ciudadana activa.
					p Por lo tanto, son ciudades que son sostenibles económica, social y medioambientalmente. La Smart City nace de la necesidad de mantener una armonía entre estos aspectos.
						a(href="#section-referencias").ref-ref [8]
					p Para que una ciudad reúna las condiciones de una Smart City, esta ciudad inteligente debe tener:
						ul
							li Un desarrollo económico sostenible.
							li Una buena gestión de los recursos naturales a través de acción participativa.
							li Un compromiso firme entre las administración pública y los ciudadanos.
							li Un compromiso con su entorno, elementos arquitectónicos de vanguardia, y donde las infraestructuras están dotadas de las soluciones tecnológicas más avanzadas para facilitar la interacción del ciudadano con los elementos urbanos, haciendo su vida más fácil.
					h5.slide-title Ciudadanos inteligentes
					p Las ciudades crecen a un ritmo cada vez más rápido y uno de los factores que contribuyen a este crecimiento son los propios ciudadanos.
					p El Smart Citizen o ciudadano inteligente es el protagonista de una Smart City . Es quien, junto con las nuevas tecnologías , da lugar a un proyecto que le da la oportunidad de gestionar su propio entorno.
					p Un ciudadano podrá ser Smart Citizen si lleva a cabo acciones de participación con la ciudad, ahorro de energía, reciclaje, movilidad eléctrica, etc.
						a(href="#section-referencias").ref-ref [12]
					a(href="#modal-ciudadanos-inteligentes").modal-link Ver video...
					a(target="_blank" href="http://www.endesaeduca.com/Endesa_educa/recursos-interactivos/smart-city/").section-link Más información en la pagina original, seguir leyendo...
		p Cisco Systems, es una empresa grobal principalmente dedicada a la fabricación, venta, mantenimiento y consultoría de equipos de telecomunicaciones. Esta empresa tiene un proyecto actualmente en relación a IoT en el cual exponen sus beneficios, casos de estudio, industrias relacionadas, productos, servicios, expertos y demas en relación a IoT, para consultar sobre ello visite la 
			a(target="_blank" href="http://www.cisco.com/c/en/us/solutions/internet-of-things/overview.html").section-link pagina de Cisco Systems sobre IoT.
