section#section-impacto
	h1.section-title Impacto de IoT
	section.section-content
		p IoT es una industria en crecimiento, desde dispositivos conectados a la piel hasta sensores en los pisos de las ciudades para saber cual son las calles más transitadas de esta. primero esto muestra que tan rápido la tecnología está avanzando alrededor y como esta va he evolucionando para suplir las necesidades que tienen el ser humano de entender el mundo y sus alrededores de una mejor manera.
		p Un claro ejemplo de esto son los deportistas de alta rendimiento, el equipo de fútbol alemán llamado el  Bayern Munich con patrocinio de adidas, utilizaban una camisa con múltiples sensores en su espalda que calculaban como estaba su temperatura corporal, su ritmo cardiaco, su ritmo de respiración, cuantos kilometro habían recorrido en un espacio de tiempo entre otros datos y estos llegaban a la tablet del entrenador y este los  analizaba para saber como entrenar de manera más eficiente y capaz a los jugadores.
		.section-video
			iframe(src="https://www.youtube.com/embed/ZeE5i8xNtnk" frameborder="0" allowfullscreen)
		p Otro claro ejemplo de cómo IoT ha modificado nuestra vida diaria es solucionando un de los problemas más comunes en todo el mundo, buscar parqueadero para el carro, un estudio de la universidad de washington reveló que el problema de los atascamientos en Nueva York, son derivados de las personas buscando donde estacionar su vehículo, esto fue solucionado en un barrio  con una aplicación y un sensor de proximidad, la herramienta lo que hacía es que a partir de si el carro estaba parqueado en X puesto,mostraba un mapa de qué parqueaderos quedaban disponibles, esto redujo el tráfico un 20%.
		.section-video-gallery
			.section-video
				iframe(src="https://www.youtube.com/embed/VTs5y1QlEtk" frameborder="0" allowfullscreen)
			.section-video
				iframe(src="https://www.youtube.com/embed/s641-eJAB1w" frameborder="0" allowfullscreen)
			.section-video
				iframe(src="https://www.youtube.com/embed/LVlT4sX6uVs" frameborder="0" allowfullscreen)
			.section-video
				iframe(src="https://www.youtube.com/embed/US1116AZ5fA" frameborder="0" allowfullscreen)
			.section-video
				iframe(src="https://www.youtube.com/embed/QSIPNhOiMoE" frameborder="0" allowfullscreen)
			.section-video
				iframe(src="https://www.youtube.com/embed/542oTWpKPlE" frameborder="0" allowfullscreen)
