section#section-introduccion
	h1.section-title Introducción
	section.sub-section
		section.section-header
			h3.section-subtitle ¿Que es IoT?
			img(src="resources/images/que_es.png")
		section.section-content
			p IoT(Internet of Things), en su traducción al español como el internet de las cosas, nos hace referencia a cualquier dispositivo, aparato, o elemento que sea capaz de conectarse a internet. Hoy en día se ven muchos dispositivos inteligentes que tienen muchas funcionalidades, que pueden buscar información por ti, y generar estadísticas a partir de algo en concreto o en base a al comportamiento humano.
			.section-video
				iframe(src="https://www.youtube.com/embed/FrcmgTs7buY" frameborder="0" allowfullscreen)
			p A medida que entramos en una habitación y tocamos un botón una docena de luces iluminan nuestro camino. Nuestro termostato, regulando la calefacción. Se enciende nuestro coche, hace mover nuestros motores, muchos son los dispositivos que usan esta gran red para hacer diversas tareas por nosotros, y nos ayudan y nos facilitan nuestro día a día.
	section.sub-section
		section.section-header
			h3.section-subtitle ¿Por qué o para que IoT?
			img(src="resources/images/para_que.png")
		section.section-content
			p Ya habiendo definido lo que es IoT, y sus inicios, las aplicaciones de IoT hoy en día es variada, ya que se aplica en distintos campos de diversas profesiones, así como en el mismo uso doméstico.
			.cards
				.card
					.card-icon-ambiente
					h5.card-title Medio ambiente
					.card-content
						img(src="resources/images/medio-ambiente.jpg")
						p En el campo de medio-ambiente podemos ver todas aquellas redes de sensores, y dispositivos dedicados a la protección de la salud y del medio, de tal manera que la energía consumida no se exceda a tal punto de consumir los recursos del medio, etc.
				.card
					.card-icon-industria
					h5.card-title Industria
					.card-content
						img(src="resources/images/industria.png")
						p En el campo de la industria, podemos ver, que es uno de los campos que más posee dispositivos con este ámbito, ya sea para monitorear, controlar, aportar seguridad, manejar procesos o protocolos de producción, coordinar actividades, grupos de trabajadores, o más dispositivos.
				.card
					.card-icon-hogar
					h5.card-title Hogares
					.card-content
						img(src="resources/images/hogar.jpg")
						p En el ámbito de los hogares, está más enfocado a la comodidad y seguridad y no tanto en términos de eficiencia o gasto de recursos, por ejemplo, hay diversos hogares que saben cuando una persona está en una habitación, que si está oscuro se deben encender las luces, y regular la temperatura para que sea una experiencia agradable, hay sistemas adaptados a los hogares que permiten controlar la seguridad del hogar, también dichos sistemas pueden ser sincronizados con los dispositivos móviles y controlar todo por medio de esta red establecida. Diversos dispositivos pueden consultar el estado del tiempo, o del tráfico, para optimizar decisiones del habitante del hogar, o facilitar tareas.
				.card
					.card-icon-ciudad
					h5.card-title Ciudades
					.card-content
						img(src="resources/images/ciudades.jpg")
						p En el ámbito de las ciudades, hoy en dia es muy popular el término de ‘Smart cities’, y dicho término ha venido en crecimiento, gracias a IoT, y se refiere a hacer las ciudades inteligentes, en cuanto al tema de seguridad, de transporte, de la consulta del estado de una zona específica de la ciudad, desde cualquier otra parte de la ciudad.
			a(target="_blank" href="https://www.euroresidentes.com/tecnologia/internet-de-las-cosas/wp-content/uploads/sites/3/2014/12/DispositivosIoTporSector1.png")
				img(src="resources/images/grafica1.png").section-image
			p Se puede ver que dicha dependencia ya mencionada de los dispositivos que sean capaces de conectarse a internet para diversos usos, irá creciendo, debido a que hoy en dia todo se maneja por internet, y la necesidad de tener más facilidad para conectarse a internet, y por medio de cualquier dispositivo, irá creciendo cada vez más, de tal manera que para el 2020 se esperen 24 millones de dispositivos capaces de conectarse a internet.
