#modal-generacion-distribuida.modal
	.modal-close
	.modal-video
		iframe(src="https://www.youtube.com/embed/AvJv-MLp9lk" frameborder="0" allowfullscreen)

#modal-redes-inteligentes.modal
	.modal-close
	.modal-video
		iframe(src="https://www.youtube.com/embed/Eb5tUcvbpLM" frameborder="0" allowfullscreen)

#modal-medidas-inteligentes.modal
	.modal-close
	.modal-video
		iframe(src="https://www.youtube.com/embed/pcP2ISYfwl4" frameborder="0" allowfullscreen)

#modal-edificios-inteligentes.modal
	.modal-close
	.modal-video
		iframe(src="https://www.youtube.com/embed/MoEWR_NURpg" frameborder="0" allowfullscreen)
		
#modal-sensores-inteligentes.modal
	.modal-close
	.modal-video
		iframe(src="https://www.youtube.com/embed/2br8xkxh4e0" frameborder="0" allowfullscreen)
		
#modal-emobility.modal
	.modal-close
	.modal-video
		iframe(src="https://www.youtube.com/embed/UU5YJ2HO7N4" frameborder="0" allowfullscreen)

#modal-ciudades-inteligentes.modal
	.modal-close
	.modal-video
		iframe(src="https://www.youtube.com/embed/lKpoi8lf_tI" frameborder="0" allowfullscreen)

#modal-ciudadanos-inteligentes.modal
	.modal-close
	.modal-video
		iframe(src="https://www.youtube.com/embed/FsVD4Ss2qT0" frameborder="0" allowfullscreen)
