nav.main-navbar
	section.navbar-header
		a(href="#section-cover")
			img(src="resources/images/logo.png").logo
		.trigger
			span
			span
			span
	ul.menu
		li.menu-item
			a(href="#section-introduccion").menu-link Introducción
		li.menu-item
			a(href="#section-aplicacion").menu-link Aplicación
		li.menu-item
			a(href="#section-tecnologias").menu-link Tecnologías
		li.menu-item.hidden
		li.menu-item
			a(href="#section-impacto").menu-link Impacto
		li.menu-item
			a(href="#section-iot-colombia").menu-link IOT en Colombía
		li.menu-item
			a(href="#section-conclusiones").menu-link Conclusiones
