section#section-tecnologias
	h1.section-title Tecnologías de comunicación
	ul.main-list
		li.item
			.list-introduction
				p Tecnología de la información (TI, o más conocida como IT por su significado en inglés: information technology) es la aplicación de ordenadores y equipos de telecomunicación para almacenar, recuperar, transmitir y manipular datos, con frecuencia utilizado en el contexto de los negocios u otras empresas.
					a(href="#section-referencias").ref-ref [9]
		li.item 
			.item-name WAN (Wide Area Network)
			.item-content
				#WAN-example.owl-carousel
					div.slide-network
						p 4G/LTE
					div.slide-network
						p 3G
					div.slide-network
						p 2G/GPRS/GSM
		li.item 
			.item-name MAN (Metropolitan Area Network)
			.item-content
				#MAN-example.owl-carousel
					div.slide-network
						p Weightless
					div.slide-network
						p Wimax
					div.slide-network
						p D7A
					div.slide-network
						p ENOCEAN
					div.slide-network
						p PLC
					div.slide-network
						p Ethernet
		li.item 
			.item-name LAN (Local Area Network) / PAN (Personal Area Network)
			.item-content
				#LAN-PAN-example.owl-carousel
					div.slide-network
						p WI-FI
					div.slide-network
						p IEEE 802.15.14
					div.slide-network
						p Z-WAVE
					div.slide-network
						p ZIGBEE
					div.slide-network
						p BLUETOOTH
					div.slide-network
						p ANT/ANT+
					div.slide-network
						p RFID
					div.slide-network
						p NFC
